@import url('https://fonts.cdnfonts.com/css/biko');

body {
  margin: 0;
  font-family: 'Biko';
  -webkit-font-smoothing: antialiased;
  background-color: #131313;
}

#theme-btn {
  background-color: #f8b500 !important;
  color: white !important;
}


/* Manual CSS */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #2e2e2e inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  border-radius: inherit !important;
} */