@font-face {
  font-family: Biko;
  src: url('assets/fonts/Biko_Regular.otf'), url('assets/fonts/Biko_Black.otf'), url('assets/fonts/Biko_Bold.otf'), url('assets/fonts/Biko_Light-Restricted.otf');
}

body {
  margin: 0;
  font-family: Biko;
  -webkit-font-smoothing: antialiased;
  background-color: #131313;
}

#theme-btn {
  background-color: #f8b500;
  color: white;
}

#theme-btn-bold {
  background-color: #f8b500;
  color: white;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
}


/* ----------------------------MUI Classes----------------------------- */
/* Dropdown Menu */
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #212529 !important;
  color: white !important;
  border-radius: 15px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
}

/* for change border color*/
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #686868 !important;
  outline: none !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  border-radius: 50%;
  background: #5ABBA2;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  box-sizing: border-box;
  color: #5ABBA2 !important;
  border: 2px solid #F8B500 ;
}